{% extends ad_component_get_layout() %}

{% block form_widget -%}
    {% spaceless %}
        {{- parent() -}}
        {% if ad_component_help is defined and not (pre_addon is defined or pre_addon_icon is defined or post_addon is defined or post_addon_icon is defined) %}
            <div class="alert-info">{{ ad_component_help }}</div>
        {% endif %}
    {% endspaceless %}
{%- endblock form_widget %}

{% block form_widget_simple -%}
    {% if ad_component_addon_type_pre is defined or ad_component_addon_type_post is defined %}
        <div class="input-group">
            {% if ad_component_addon_type_pre is defined -%}
                <span class="input-group-{{ ad_component_addon_type_pre=='button' ? 'btn' : 'addon' }}">
                    {% if ad_component_addon_type_pre == 'icon' %}
                        {% set ad_component_addon_attr_pre = ad_component_addon_attr_pre|merge({class: (ad_component_addon_attr_pre.class|default('') ~ ' ' ~ ad_component_addon_content_pre)|trim}) %}
                        <i {% for attrname, attrvalue in ad_component_addon_attr_pre %} {{ attrname }}="{{ attrvalue }}"{% endfor %}></i>
                    {% elseif ad_component_addon_type_pre == 'button' %}
                        {% set ad_component_addon_attr_pre = ad_component_addon_attr_pre|merge({class: (ad_component_addon_attr_pre.class|default('btn-default') ~ ' btn')|trim}) %}
                        {% set ad_component_addon_attr_pre = ad_component_addon_attr_pre|merge({type: (ad_component_addon_attr_pre.type|default('') ~ ' button')|trim}) %}
                        <button {% for attrname, attrvalue in ad_component_addon_attr_pre %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                        {% if ad_component_addon_content_type_pre == 'icon' %}
                            <i class="{{ ad_component_addon_content_pre }}"></i>
                        {% else %}
                            {{ ad_component_addon_content_pre }}
                        {% endif %}
                        </button>
                    {% else %}
                        {{ ad_component_addon_content_pre }}
                    {% endif %}
                </span>
            {% endif %}
            {{- parent() -}}
            {% if ad_component_addon_type_post is defined -%}
                <span class="input-group-{{ ad_component_addon_type_post=='button' ? 'btn' : 'addon' }}">
                    {% if ad_component_addon_type_post == 'icon' %}
                        {% set ad_component_addon_attr_post = ad_component_addon_attr_post|merge({class: (ad_component_addon_attr_post.class|default('') ~ ' ' ~ ad_component_addon_content_post)|trim}) %}
                        <i {% for attrname, attrvalue in ad_component_addon_attr_post %} {{ attrname }}="{{ attrvalue }}"{% endfor %}></i>
                    {% elseif ad_component_addon_type_post == 'button' %}
                        {% set ad_component_addon_attr_post = ad_component_addon_attr_post|merge({class: (ad_component_addon_attr_post.class|default('btn-default') ~ ' btn')|trim}) %}
                        {% set ad_component_addon_attr_post = ad_component_addon_attr_post|merge({type: (ad_component_addon_attr_post.type|default('') ~ ' button')|trim}) %}
                        <button {% for attrname, attrvalue in ad_component_addon_attr_post %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                        {% if ad_component_addon_content_type_post == 'icon' %}
                            <i class="{{ ad_component_addon_content_post }}"></i>
                        {% else %}
                            {{ ad_component_addon_content_post }}
                        {% endif %}
                        </button>
                    {% else %}
                        {{ ad_component_addon_content_post }}
                    {% endif %}
                </span>
            {% endif %}
        </div>
        {% if ad_component_help is defined %}
            <div class="alert-info">{{ ad_component_help }}</div>
        {% endif %}
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock form_widget_simple %}

{% block icon_widget %}
    {% set ad_component_addon_type_pre = 'icon' %}
    {% set ad_component_addon_attr_pre= [] %}
    {% set ad_component_addon_content_pre = value | trim %}
    {{- block('form_widget_simple') -}}
{% endblock %}

{% block rating_widget %}
    <span class="ad_component-rating">
        {% for i in rating_values  %}
            <i class="fa fa-2x {{ i > value ? rating_icon_base : rating_icon_check }}" data-rating="{{ i }}" data-rating-label="{{ rating_labels[i] is defined ? rating_labels[i] : i }}"></i>
        {% endfor %}
        <span class="ad_component-rating-label">{{ rating_labels[value] is defined ? rating_labels[value] : (value >= rating_min ? value : rating_label_empty ) }}</span>
        {{- block('hidden_widget') -}}
    </span>
{% endblock %}
