{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_row -%}
    {% spaceless %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{ form_label(form) }}
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
                {% if help is defined %}
                    <em class="bg-info">{{ help }}</em>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{%- endblock form_row %}

{% block form_widget_simple -%}
    {% if pre_addon is defined or post_addon is defined %}
        <div class="input-group">
            {% if pre_addon is defined %}
                <span class="input-group-addon">{{ pre_addon | raw }}</span>
            {% endif %}
            {{- parent() -}}
            {% if post_addon is defined %}
                <span class="input-group-addon">{{ post_addon | raw }}</span>
            {% endif %}
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endblock form_widget_simple %}

{% block icon_widget %}
    {% if value is not empty %}
        {% set pre_addon = '<i class="' ~ value | trim ~ '"></i>' %}
    {% endif %}
    {{- block('form_widget_simple') -}}
{% endblock %}